body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.keybord{
    background-image: url(keybord.jpg);
    background-size: cover;
    margin-top: 200px;
    height: 180px;
    width: 300px;
    border-radius: 10px;
}
.key-number{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-evenly;
}
.keys{
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 15px;
}
.keyss{
color: white;
}
.last{
    border-radius: 10px;
    background-color: rgb(99, 97, 97);
}
.last1{
    width: 100px;
}

.keys:hover{
    border: 1px solid white;
    border-radius: 10px;
    
    font-size: 16px;    
}
